<style>
    footer {
        padding: 1em;
    }

    footer p {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .version {
        text-align: center;
    }

    .lks {
        text-align: right;
    }
</style>

<footer class="d-flex justify-content-between fixed-bottom px-2">
    <div class="copyright">
        <p>
            Copyright &copy; 2022 Materdei School. All Rights Reserved
        </p>
    </div>
    <div class="version text-muted">
        <p>MD Queues 1.1.1-alpha</p>
    </div>

    <div class="lks">
        <a href="https://github.com/3xbun/silent-pickup" target="_blank" class="btn"><i class="fab fa-github"></i>
            View on Github</a>
    </div>
</footer>