<style>
    footer {
        padding: 1em;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: fixed;
        bottom: 0;
        width: 100vw;
    }

    footer div {
        width: 33%;
    }

    .version {
        text-align: center;
    }

    .lks {
        text-align: right;
    }

    .github {
        color: black;
    }
</style>

<footer>
    <div class="copyright">
        <p>
            Copyright &copy; 2022 Materdei School. All Rights Reserved
        </p>
    </div>
    <div class="version">
        <p>MD Queues 2.1.3</p>
    </div>

    <div class="lks">
        <a href="https://github.com/3xbun/silent-pickup" target="_blank" class="github"><i class="fab fa-github"></i>
            View on Github</a>
    </div>
</footer>