<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to MD Queue!</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vero, aspernatur ipsa
                numquam suscipit. </p>
            <hr class="my-2">
            <p>Quia animi nesciunt, tempore excepturi a,
                similique nisi laboriosam debitis odit quod modi corrupti deserunt sequi iure, porro consequuntur illum
                ipsam. Aperiam molestiae illum, natus maiores iusto aliquid dolores possimus nobis nisi illo quod error
                veniam odio dignissimos deserunt voluptatum, inventore labore aliquam voluptas beatae alias vel, minus
                facilis provident. Quam, praesentium ad? Alias eos exercitationem explicabo totam atque necessitatibus
                voluptates earum labore, eum commodi adipisci.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/queues" role="button">Queue</a>
                <a class="btn btn-primary btn-lg" href="/pick-up" role="button">Pick Up</a>
            </p>
        </div>
    </div>

    <%- include("./partials/scripts"); %>
</body>

</html>