<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Welcome to MD Queue!</h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/queues" role="button">Queue</a>
                <a class="btn btn-primary btn-lg" href="/pick-up" role="button">Pick Up</a>
            </p>
        </div>
    </div>

    <%- include("./partials/scripts"); %>
</body>

</html>