<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
        <style>
            .alert {
                display: flex;
                justify-content: space-between;
            }

            .close {
                cursor: pointer;
            }
        </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <h1>Pickup</h1>
            <form @submit.prevent="addQueue(queue)">
                <div class="form-group">
                    <label for="formGroupExampleInput">Student ID</label>
                    <input v-model="queue.id" type="text" class="form-control" id="studentID"
                        placeholder="Enter Student ID">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Name</label>
                    <input v-model="queue.name" type="text" class="form-control" id="name"
                        placeholder="Enter Student's Name">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>

            <div v-if="showModal" class="alert alert-success" role="alert">
                <span>
                    <strong>Well done!</strong> Add Queue Successfully
                </span>
                <div class="close" @click="reset()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>


        </div>
    </div>


    <%- include("./partials/scripts"); %>
        <script>
            const { createApp, ref } = Vue

            createApp({
                setup() {
                    const queue = ref({
                        id: '',
                        name: ''
                    })
                    const alertText = ""
                    const baseURL = 'https://md-queue.loca.lt'
                    const showModal = ref(false)

                    const addQueue = (queue) => {
                        axios.post(`${baseURL}/api/add/queue`, queue)
                        showModal.value = true
                    }

                    const reset = () => {
                        showModal.value = false
                        queue.value = {
                            id: '',
                            name: ''
                        }
                    }

                    return {
                        queue,
                        showModal,
                        addQueue,
                        reset
                    }
                }
            }).mount('#app')
        </script>
</body>

</html>