<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
        <style>
            table {
                font-size: 2em;
            }

            .fa-xmark {
                color: grey;
            }

            a {
                cursor: pointer;
            }
        </style>
</head>

<body>
    <div id="app">
        <h1 class="text-center">MD Queue</h1>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">NO.</th>
                            <th>Time</th>
                            <th>Student ID</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>BY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(queue, index) in data" :key="queue.time">
                            <td class="text-center">{{index+1}}</td>
                            <td>{{formatTime(queue.time)}}</td>
                            <td>{{queue.id}}</td>
                            <td>{{queue.name}}</td>
                            <td>{{queue.class}}</td>
                            <td style="font-family: FontAwesome;">{{formatPickup[queue.pickupType]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <%- include("./partials/scripts"); %>
        <script>
            const { createApp, ref, onMounted, computed } = Vue

            createApp({
                setup() {
                    const data = ref([])

                    const getQueues = () => {
                        setInterval(async () => {
                            const res = await axios.get(`${baseURL}/api`)
                            data.value = res.data
                            console.log(res.data)
                        }, 1000)
                    };

                    const formatPickup = ref({
                        'walk': "",
                        'car': ""
                    })

                    const deleteQueue = (id) => {
                        axios.delete(`${baseURL}/api/delete/${id}`)
                    }

                    const formatTime = (time) => dayjs(time).format('HH:mm:ss')

                    onMounted(() => {
                        getQueues()
                    })

                    return {
                        data,
                        formatPickup,
                        formatTime,
                        deleteQueue
                    }
                }
            }).mount('#app')
        </script>
</body>

</html>