<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head"); %>
        <style>
            table {
                width: 100vw;
                font-size: 2em;
                padding: 0 1em;
                max-width: 1000px;
                margin: auto;
            }

            .fa-xmark {
                color: grey;
            }

            a {
                cursor: pointer;
            }

            td {
                text-align: center;
            }

            @media only screen and (max-width: 600px) {
                h1 {
                    font-size: 2em;
                }

                .container {
                    padding: 1em;
                }

                table {
                    font-size: 1em;
                }
            }
        </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <h1>MD QUEUES</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th style="width: 10%;">ลำดับ</th>
                    <th style="width: 10%;">เวลา</th>
                    <th style="width: 25%;">รหัสนักเรียน</th>
                    <th style="text-align: left;">ชื่อ-นามสกุล</th>
                    <th>ชั้น</th>
                    <th>โดย</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(queue, index) in data" :key="queue.time">
                    <td class="text-center">{{index+1}}</td>
                    <td>{{formatTime(queue.datetime)}}</td>
                    <td>{{queue.id}}</td>
                    <td style="text-align: left;">{{queue.name}}</td>
                    <td>{{queue.class}}</td>
                    <td style="font-family: FontAwesome;">{{formatPickup[queue.pickupType]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <%- include("./partials/footer"); %>

        <%- include("./partials/scripts"); %>
            <script>
                const { createApp, ref, onMounted, computed } = Vue

                createApp({
                    setup() {
                        const data = ref([])

                        const getQueues = () => {
                            setInterval(async () => {
                                const res = await axios.get(`${baseURL}/api`)
                                data.value = res.data
                                console.log(res.data)
                            }, 1000)
                        };

                        const formatPickup = ref({
                            'walk': "",
                            'car': ""
                        })

                        const deleteQueue = (id) => {
                            axios.delete(`${baseURL}/api/delete/${id}`)
                        }

                        const formatTime = (time) => dayjs(time).format('HH:mm:ss')

                        onMounted(() => {
                            getQueues()
                        })

                        return {
                            data,
                            formatPickup,
                            formatTime,
                            deleteQueue
                        }
                    }
                }).mount('#app')
            </script>
</body>

</html>